body {
    font-family: sans-serif;
    background-color: #ccffff;
}

header {
    background-color: white;
    box-shadow: 0px 4px 6px whitesmoke;
    padding: 20px;
    text-align: center;
}

.green {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.orange {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

img {
    height: 250px;
    width: 500px;
}

h1 {
    text-align: center;
}